<app-category-bar></app-category-bar>
<section>
  <div *ngIf="products$ | async as response" class="content d-flex flex-column p-0">
    <div class="sort d-flex justify-content-end">
      <mat-form-field appearance="outline" color="primary" class="rounded-0">
        <mat-select [value]="sortOrder$ | async" (selectionChange)="changeOrder($event)">
          <mat-option [value]="sortOptions.ASC">Preț crescător</mat-option>
          <mat-option [value]="sortOptions.DESC">Preț descrescător</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <div class="filters">
        <app-filters [filterGroups]="response.filterGroups"></app-filters>
      </div>
      <div class="row m-0">
        <div class="product-container" *ngFor="let product of response.products">
          <app-product-card [product]="product"></app-product-card>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-end">
          <button mat-flat-button color="primary" class="rounded-0"> SHOW MORE </button>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #noProducts>
  <p> Din păcate, nu am reușit să găsim produse! </p>
</ng-template>
