<section>
  <div class="container h-100 d-flex align-items-center">
    <div class="container__footer row">
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <h4 class="logo"> FAST FASHION </h4>
            <p> For your daily outfit </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <h4> SERVICE </h4>
            <a> Products </a>
            <a> Contact Us </a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <h4> SUPPORT </h4>
            <a> About fast-fashion.com </a>
            <a> Privacy policy & terms </a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="d-flex flex-column align-items-center">
          <h4 class="social"> FOLLOW US ON </h4>
          <div class="d-flex">
            <mat-icon class="svg-34 me-4" svgIcon="facebook"></mat-icon>
            <mat-icon class="svg-34 me-4" svgIcon="instagram"></mat-icon>
            <mat-icon class="svg-34 me-4" svgIcon="youtube"></mat-icon>
            <mat-icon class="svg-34" svgIcon="twitter"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
