<section>
  <div *ngIf="product$ | async as product" class="container">
    <div class="product-top row shadow-sm">
      <div class="carousel col-9">
        <swiper-container fmSwiper [config]="config" init="false" class="swiper-container w-full">
          <swiper-slide class="w-[310px] sm:w-[450px] pb-6"
                        *ngFor="let slider of product.carousel">
            <img class="img-fluid" [src]="slider" alt="product-image">
          </swiper-slide>
        </swiper-container>

      </div>

      <div class="details col-3">
        <div class="general-details">
          <h4>{{product.name | uppercase}}</h4>
          <p class="color">{{product.color}}</p>
          <p class="price">{{product.price}} €</p>
        </div>

        <div class="variants">
          <p class="variants__text">Available colors</p>
          <div class="d-flex">
            <div *ngFor="let variant of product.variante" class="image-container" [class.active]="product.id === +variant.id" routerLink="../{{variant.id}}">
              <img class="img-fluid" [src]="variant.image" alt="variant-image">
            </div>
          </div>
        </div>

        <form class="buttons" [formGroup]="sizeForm" (ngSubmit)="onSubmit(product)">
          <mat-form-field class="w-100" appearance="outline">
            <mat-select placeholder="Choose size" formControlName="size">
              <mat-option *ngFor="let size of product.sizes" [value]="size.id">
                {{size.size}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="showError">You have to choose a size</mat-error>
          </mat-form-field>

          <button mat-flat-button color="primary" type="submit" class="w-100 rounded-0">
            <mat-icon>shopping_cart</mat-icon>
            <span>ADD TO CART</span>
          </button>
        </form>

        <div class="texts">
          <p>Trusted shop TRUSTED.com</p>
          <p>3 - 5 days delivery with FAN Courier</p>
        </div>
      </div>
    </div>

    <div class="tabs">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
        <mat-tab *ngIf="product.details" label="Details">
          <div class="container">
            <app-product-details [details]="product.details"></app-product-details>
          </div>
        </mat-tab>
        <mat-tab *ngIf="product.sizeGuide" label="Size guide">
          <div class="container">

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
