.container {
  max-width: 100%;
  margin-top: 22px;
  background-color: var(--white);
}

.swiper-container {
  height: fit-content;
}

.details {
  padding: 60px 70px 60px 60px;

  .general-details {
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--black);
    }

    .color {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #AAAAAA;
      margin-bottom: 12px;
    }

    .price {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--black);
      margin-bottom: 30px;
    }
  }
}

.variants {
  margin-bottom: 20px;

  &__text {
    color: #AAAAAA;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 4px;
    border-bottom: 1px solid #E6E6E6;
  }

  .image-container {
    width: 80px;
    height: 80px;
    cursor: pointer;

    &.active {
      border: 1px solid var(--black);
    }
  }
}

.buttons {
  ::ng-deep .mdc-notched-outline {
    &__leading, &__trailing {
      border-radius: 0 !important;
    }
  }

  button {
    height: 40px;
  }
  margin-bottom: 25px;
}

.texts {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 4px;
}

.product-top {
  margin-bottom: 60px;
}

.tabs {
  .container{
    max-width: 781px;
  }
}
