<section class="shadow-sm">
  <div class="container d-flex align-items-center justify-content-between pe-0">
    <div class="image-container" (click)="goToHome()">
      <img src=favicon.ico alt="site-image">
    </div>
    <div class="authentication-details d-flex align-items-center"
         (click)="authenticate()">
      <div class="d-flex px-3 align-items-center">
        <i class="bi bi-person-circle me-2"></i>
        <h6 *ngIf="!authenticated" class="text-center m-0"> Autentifică-te </h6>
        <h6 *ngIf="authenticated" class="text-center m-0"> {{customerName}} </h6>
      </div>
    </div>
  </div>

</section>
