.stock-state {
  font-weight: bold;
}

.display-name {
  color: var(--black);
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.product-image {
  width: 225px;
  height: 235px;
}

.details-button {
  max-width: 140px;
}

.price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}
