<section class="wrapper cursor-pointer shadow-sm" (click)="navigate()">
  <div class="product-container bg-white">
    <div>
      <div class="product-image-container p-0 col-12 d-flex justify-content-center mb-2">
        <img class="product-image"
             [src]="product?.thumbnail"
             alt="product-image">
      </div>
    </div>
    <div class="ps-2">
      <span class="display-name text-center p-0">{{product?.name | titlecase}}</span>
    </div>
    <div class="pb-2 ps-2">
      <span class="price text-center">{{product?.price}}€</span>
    </div>
  </div>
</section>
