<section class="h-100">
  <div class="wrapper h-100">
    <div class="d-flex flex-column align-items-center">
      <h4 class="mb-5"> Adaugă voucher </h4>
      <form class="login-form d-flex flex-column align-items-center mb-5" [formGroup]="voucherForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column">
          <p>
            <mat-form-field appearance="fill">
              <mat-label> Cod </mat-label>

              <input matInput formControlName="code" type="text">

              <mat-error *ngIf="code?.touched && code?.errors"> Câmp obligatoriu </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label> Valoare </mat-label>

              <input matInput formControlName="value" type="text">

              <mat-error *ngIf="code?.touched && code?.errors"> Câmp obligatoriu </mat-error>
            </mat-form-field>

          </p>
        </div>

        <button mat-button class="mat-button text-bg-primary border-0" [disabled]="!voucherForm.valid" type="submit"> Adaugă voucher </button>
      </form>
    </div>
  </div>

</section>
