button {
  width: 20px !important;
  background-color: var(--bs-white) !important;
  border: 2px solid var(--bs-black);
  color: var(--bs-black) !important;
  height: 26px !important;

  &[disabled] {
    background-color: gray !important;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
