<section class="d-flex justify-content-center">
  <div class="buttons">
    <button *ngIf="currentPage > 0"
            mat-button
            class="mat-button text-bg-secondary me-3"
            (click)="changePage(currentPage - 1)">
      Previous
    </button>
    <button *ngIf="paginationInfo && currentPage < paginationInfo.totalPages - 1"
            mat-button
            class="mat-button text-bg-secondary me-3"
            (click)="changePage(currentPage + 1)">
      Next
    </button>
  </div>
</section>
