<section class="d-flex justify-content-center">
  <div class="buttons">
    <button [disabled]="!(currentPage > 0)"
            mat-button
            class="mat-button me-3 p-0 rounded-0"
            (click)="changePage(currentPage - 1)">
      <i class="bi-chevron-left"></i>
    </button>
    <button [disabled]="!(paginationInfo && currentPage < paginationInfo.totalPages - 1)"
            mat-button
            class="mat-button me-3 p-0 rounded-0"
            (click)="changePage(currentPage + 1)">
      <i class="bi-chevron-right"></i>
    </button>
  </div>
</section>
