<app-nav-bar></app-nav-bar>
<section class="wrapper mt-5">
  <div *ngIf="orders$ | async as orders">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let order of orders?.orders">
        <mat-expansion-panel-header class="shadow-sm">
          <div class="d-flex justify-content-around w-100">
            <span> Comanda nr: {{order.orderId}} </span>
            <span> Plasată la: {{order.createdOn | date: 'dd-MM-yyyy'}} </span>
            <span> {{order.totalPrice}}$ </span>
          </div>
        </mat-expansion-panel-header>


        <div *ngFor="let item of order.orderItems; let last=last" class="order-item container px-2 py-3" [class.last]="last">
          <div class="row d-flex align-items-center pe-4">
            <div class="col-3 image-container d-flex justify-content-center">
              <img class="product-image"
                   src="https://lcdn.altex.ro/resize/media/catalog/product/i/p/2bd48d28d1c32adea0e55139a4e6434a/iphone_14_blue-1_d611427e.jpg"
                   alt="product-image">
            </div>
            <div class="col-6 ps-0">
              <h3 class="m-0">{{item?.displayName}}</h3>
            </div>
            <div class="price col-3"> {{item?.price}}$</div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </div>

</section>
