span {
  height: 40px;
  background-color: black;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  display: block;
  box-shadow: 0 0 3px 3px blue;
}

:host {
  height: 40px;
  width: 40px;
  display: block;
}
