
:host {
  height: 100%;
  display: block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 1.5rem;
}

mat-form-field {
  width: 319px;
}

.no-account {
  font-weight: 300;
  font-size: 14px;

  span {
    font-weight: 400;
    cursor: pointer;
  }
}

.container {
  &__image {
    background: url("../../../assets/images/register.png") no-repeat;
    background-size: cover;
    height: 1024px;

    &__overlay {
      background: rgba(13, 13, 13, 0.46);
      display: flex;
      align-items: center;

      h1 {
        color: var(--white);
        font-size: 40px;
        font-weight: bold;
        padding-left: 72px;
      }
    }
  }

  &__form {
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 48px;
    }

    .login-form {
      margin-bottom: 6.4375rem;

      button {
        width: 100%;
        height: 56px;
      }
    }
  }
}
