<section class="wrapper">
  <mat-expansion-panel *ngFor="let filterGroup of filterGroups" expanded class="rounded-0 shadow-none">
    <mat-expansion-panel-header> {{filterGroup.filterGroupName | uppercase}} </mat-expansion-panel-header>
    <div class="body" [class.price]="filterGroup.type === filterTypes.PRICE">
      <div *ngIf="filterGroup.type !== filterTypes.PRICE">
        <div *ngFor="let filter of filterGroup.filters">
          <mat-checkbox color="primary" *ngIf="filterGroup.type === filterTypes.CHECKBOX"
                        aria-labelledby="{{filter.filterCode}}" aria-label="{{filterGroup.filterGroupCode}}"
                        (change)="filtersChanged($event)"> {{filter.filterName | titlecase}} </mat-checkbox>
          <mat-checkbox *ngIf="filterGroup.type === filterTypes.COLOR" class="{{filter?.filterCode}}"
                        aria-labelledby="{{filter.filterCode}}" aria-label="{{filterGroup.filterGroupCode}}"
                        (change)="filtersChanged($event)"> {{filter.filterName | titlecase}} </mat-checkbox>
        </div>
      </div>

      <div class="price" *ngIf="filterGroup.type === filterTypes.PRICE">
        <div class="row">
          <mat-form-field class="col-6" appearance="outline">
            <input matInput [(ngModel)]="min" type="text">
            <span matSuffix>€</span>
          </mat-form-field>
          <mat-form-field class="col-6" appearance="outline">
            <input matInput [(ngModel)]="maxValue" type="text">
            <span matSuffix>€</span>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-center">
          <mat-slider class="" min="20" color="primary" max="500">
            <input value="25" matSliderStartThumb [(ngModel)]="min">
            <input value="225" matSliderEndThumb [(ngModel)]="maxValue">
          </mat-slider>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</section>
